<% (defvar *location*
           (format nil
                   "http://~A~:[:~A~;~]/"
                   (caveman:config :domain)
                   (= (caveman:config :port) 80)
                   (caveman:config :port))) %>
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to Gotumda+!</title>
  <link rel="stylesheet" href="/public/static/css/main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
</head>
<body>
<div id="container">

<% @include header.html %>

<div id="content">
  <div id="content-left">
    <div id="got-post-label">
      What are you going to do?
    </div>
    <form id="got-post-task" onsubmit="return false;">
      <textarea name=""></textarea>
      <input type="submit" value="Add" />
    </form>
    <div id="got-public-tasks">
      Loading..
    </div>
  </div>
  <div id="content-right">
    <br />
  </div>
</div>

</div>

<% (when (eq (caveman:current-mode) :prod) %>
<script type="text/javascript" src="/public/static/js/compiled.js"></script>
<% ) %>
<% (unless (eq (caveman:current-mode) :prod) %>
<script type="text/javascript" src="/public/static/js/closure-library/closure/goog/base.js"></script>
<script type="text/javascript" src="/public/static/js/deps.js"></script>
<% ) %>
<script type="text/javascript">
  goog.require('got.app.PC');
</script>
<script type="text/javascript">
  new got.app.PC('<%= *location* %>');
</script>
</body>
</html>
