<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to Gotumda!</title>
  <link rel="stylesheet" href="/public/static/css/main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
</head>
<body>
<div id="container">

<div id="header">
  <h1><a href="/">Gotumda</a></h1>
</div>

<div id="content">
  <div id="got-all-tasks">
    <div id="got-current-tasks">
      Loading..
    </div>
    <div id="got-done-tasks">
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="/public/static/js/closure-library/closure/goog/base.js"></script>
<script type="text/javascript" src="/public/static/js/deps.js"></script>
<script type="text/javascript">
  goog.require('got.app.PC');
  new got.app.PC('<% (format t
                             "http://~A:~A/"
                             (caveman:config :domain)
                             (caveman:config :port)) %>');
</script>
</body>
</html>
